section.edit-coffee {
  display: flex;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 25px;
  width: 820px;
}

section.edit-coffee form {
  margin: 0 25px;
  width: 100%;
}

section.edit-coffee form .header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
}

section.edit-coffee form .header .remove {
  width: 56px;
  height: 56px;
  border-radius: 56px;
  background-color: #ff3e3a;
  cursor: pointer;
}

section.edit-coffee form .header .remove > img {
  width: 20px;
}

section.edit-coffee form > div.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section.edit-coffee form legend {
  font-size: 28px;
  font-weight: 800;
  color: var(--color-brown-strong);
  display: flex;
  align-items: center;
}

section.edit-coffee form legend img {
  width: 32px;
  margin-left: 10px;
}

section.edit-coffee form label {
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 10px;
  color: var(--color-brown-strong);
}

section.edit-coffee form div.wrapper-input {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: var(--color-grey);
  transition: 200ms ease-in;
}

section.edit-coffee form div.wrapper-input img {
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

section.edit-coffee form div.wrapper-input button {
  background: transparent;
  cursor: pointer;
}

section.edit-coffee form div.wrapper-input textarea,
section.edit-coffee form div.wrapper-input input:not(button) {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-grey-text);
  background-color: var(--color-grey);
}

section.edit-coffee form div.wrapper-input textarea {
  resize: none;
}

section.edit-coffee form div.wrapper .left,
section.edit-coffee form div.wrapper .right {
  width: 100%;
}

section.edit-coffee form div.wrapper .left {
  margin-right: 25px;
}

section.edit-coffee form div.wrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section.edit-coffee form button[type='submit'] {
  width: 100%;
  font-size: 22px;
  font-weight: 800;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: var(--color-white);
  background-color: var(--color-brown-strong);
  border-radius: 10px;
  cursor: pointer;
  animation-delay: 600ms;
  transition: 300ms ease-in;
}

section.edit-coffee form button[type='submit']:hover {
  background: var(--color-brown-medium);
  animation: pulse 1s infinite linear backwards, slide paused;
}

section.edit-coffee .inline {
  display: flex;
}

section.edit-coffee .inline > div:first-child {
  margin-right: 25px;
}

section.edit-coffee .inline label {
  font-size: 14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

section.edit-coffee div.list-ingredients ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 350px;
  margin-bottom: 25px;
  max-height: 150px;
  overflow: scroll;
}

section.edit-coffee div.list-ingredients ul li {
  margin-right: 10px;
  margin-top: 10px;
}

section.edit-coffee div.list-ingredients ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  color: var(--color-white);
  background-color: var(--color-brown-medium);
  overflow: hidden;
}

section.edit-coffee div.list-ingredients ul li button img {
  width: 16px;
  height: 16px;
}

section.edit-coffee div.upload-image {
  display: flex;
  flex-direction: column;
}
