aside.sidebar {
  width: 100%;
  min-width: 200px;
  max-width: 320px;
  overflow: scroll;
  background-color: var(--color-white);
}

aside.sidebar > section.wrapper-logo {
  align-items: center;
  justify-content: flex-start;
  height: 74px;
  background-color: var(--color-white);
}

aside.sidebar > section.wrapper-logo img.logo-image {
  width: 44px;
}

aside.sidebar > section.wrapper-logo span {
  font-size: 22px;
  font-weight: 800;
  color: var(--color-brown-light);
  margin-left: 10px;
}

aside.sidebar > section {
  display: flex;
  padding: 15px;
}

aside.sidebar > section.user-logged {
  align-items: center;
  justify-content: space-evenly;
  background-image: url('../../../assets/img/bg-sign.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

aside.sidebar > section.user-logged img {
  width: 62px;
  height: 62px;
  border-radius: 62px;
}

aside.sidebar > section.user-logged div.user-info {
  display: flex;
  flex-direction: column;
}

aside.sidebar > section.user-logged div.user-info strong {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  margin-bottom: 5px;
}

aside.sidebar > section.user-logged div.user-info span {
  font-size: 12px;
  color: var(--color-grey);
}

aside.sidebar > section.dashboard {
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #e6e6e6;
  margin: 0 15px;
}

aside.sidebar > section.dashboard svg {
  margin-right: 10px;
}

aside.sidebar > section.dashboard span {
  color: var(--color-brown-strong);
  font-weight: 600;
  text-transform: uppercase;
}

aside.sidebar > nav.navbar {
  padding: 15px;
}

aside.sidebar > nav.navbar ul.navlist {
  width: 100%;
}

aside.sidebar > nav.navbar ul.navlist > li + li {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 15px;
}

aside.sidebar > nav.navbar ul.navlist > li > a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 62px;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-brown-strong);
}

aside.sidebar > nav.navbar ul.navlist > li > a img {
  width: 24px;
  height: 24px;
}

aside.sidebar > nav.navbar ul.navlist > li > a > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 62px;
  border-radius: 62px;
  height: 100%;
  background-color: var(--color-grey);
}

aside.sidebar > nav.navbar ul.navlist > li > a > div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 15px 0px 15px 15px;
}

aside.sidebar > nav.navbar ul.navlist > li > a > div:last-child > img {
  width: 12px;
  height: 12px;
}
