div.pagination {
  display: flex;
  justify-content: center;
}

div.pagination button {
  color: #fcfcfc;
  font-weight: 600;
  padding: 15px;
  border-radius: 7px;
  margin-bottom: 25px;
  cursor: pointer;
  transition: 200ms ease-in;
  background-color: var(--color-brown-strong);
  border: 1px solid var(--color-brown-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

div.pagination button:first-child {
  margin-right: 10px;
}

div.pagination button:hover {
  color: var(--color-brown-strong);
  background-color: var(--color-brown-light);
  border: 1px solid var(--color-brown-strong);
}

div.pagination button:hover svg {
  fill: var(--color-brown-strong);
}

div.pagination button:disabled {
  cursor: default;
  color: var(--color-white);
  border: 1px solid var(--color-brown-light);
  background-color: var(--color-brown-strong);
  opacity: 0.6;
}

div.pagination button:disabled svg {
  fill: var(--color-white);
}
