main.sign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-image: url('../assets/img/bg-sign.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

main.sign div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  height: 80%;
  max-height: 700px;
  width: 100%;
  background-color: #FCFCFC;
  border-radius: 10px;
  animation-name: fade;
  animation-delay: 300ms;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

main.sign div.wrapper .wrapper-nav {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

main.sign div.wrapper span.error-message {
  text-align: center;
  margin-bottom: 10px;
  color: #F22B29;
  font-weight: 400;
  animation-name: slide;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

main.sign form {
  display: flex;
  flex-direction: column;
}

main.sign form legend {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

main.sign form legend strong {
  font-size: 28px;
  font-weight: 800;
  color: #412507;
  text-align: center;
  width: 100%;
}

main.sign form .wrapper-input {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 350px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #E6E6E6;
  transition: 200ms ease-in;
}

main.sign form .wrapper-input,
main.sign form button[type='submit'] {
  animation-name: slide;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

main.sign form .wrapper-input:nth-child(2) {
  animation-delay: 150ms;
}

main.sign form .wrapper-input:nth-child(3) {
  animation-delay: 300ms;
}

main.sign form .wrapper-input:nth-child(4) {
  animation-delay: 450ms;
}

main.sign form .wrapper-input input:not(button) {
  padding: 10px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #3F3C32;
  background-color: #E6E6E6;
}

main.sign form .wrapper-input label {
  display: flex;
  align-items: center;
}

main.sign form .wrapper-input label img {
  height: 20px;
  width: 20px;
  margin: 0 10px;
}

main.sign form button[type='submit'] {
  font-size: 22px;
  font-weight: 800;
  padding: 15px;
  margin-bottom: 15px;
  color: #fcfcfc;
  background-color: #412507;
  border-radius: 10px;
  cursor: pointer;
  animation-delay: 600ms;
  transition: 300ms ease-in;
}

main.sign .wrapper a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #412507;
}

main.sign .wrapper a:hover {
  text-decoration: underline;
}

main.sign form button[type='submit']:hover {
  background: #753D00;
  animation: pulse 1s infinite linear backwards, slide paused;
}

@media all and (max-width: 1022px) {
  main.sign div.wrapper {
    max-width: 760px;
  }
}

@media all and (max-width: 820px) {
  main.sign div.wrapper {
    max-width: 560px;
  }
}

@media all and (max-width: 660px) {
  main.sign {
    padding: 20px;
  }
}

@media all and (max-width: 440px) {
  main.sign .wrapper-form {
    width: 100%;
  }

  main.sign form .wrapper-input {
    width: 100%;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
