form.form-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-brown-light);
  border-radius: 10px;
  padding: 5px;
}

form.form-search select.query-search {
  color: var(--color-white);
  font-size: 1rem;
  text-align: center;
  text-align-last: center;
  border-radius: 7px 0px 0px 7px;
  background-color: var(--color-brown-strong);
  width: 100px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 5px;
  text-overflow: '';
  cursor: pointer;
  transition: 0.2s ease-in;
}

form.form-search select.query-search:hover {
  opacity: 0.8;
}

input.ipt-search {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-brown-strong);
}

button.send-search span {
  display: none;
}

button.send-search {
  width: 56px;
  cursor: pointer;
  border-radius: 0px 7px 7px 0px;
  background-color: var(--color-white);
}
