footer.footer {
  display: flex;
  justify-content: center;
  background-color: #753D00;
}

div.wrapper {
  max-width: 960px;
}

div.wrapper section {
  display: flex;
}

article.info {
  padding: 15px;
}

article.info h3 {
  font-size: 24px;
  color: #fcfcfc;
  font-weight: 400;
  margin-bottom: 15px;
}

article.info p {
  font-size: 1rem;
  color: #fcfcfc;
  text-align: justify;
  line-height: 1.5rem;
}

section.newsletter {
  border-bottom: 1px solid rgba(252, 252, 252, 0.2);
}

section.about {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

section.about span {
  color: #fcfcfc;
}
