div.up.wrapper {
  width: fit-content !important;
}

span.info-terms {
  max-width: 350px;
  margin: 0 0 25px;
  font-size: 12px;
  line-height: 20px;
}

span.info-terms a {
  display: unset !important;
}

main.auth form button[type='submit'] {
  margin-bottom: 32px;
}

main.auth .wrapper-form {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 60px;
}

hr {
  margin: 15px 0;
}

main.auth div.wrapper {
  height: 90%;
  max-width: fit-content;
}

button.view-password {
  display: flex;
  background: transparent;
  cursor: pointer;
  transition: 200ms ease-in;
}

button.view-password img {
  width: 20px;
  margin: 0 10px;
}

button.view-password:hover {
  transform: scale(1.3, 1.3);
}
